.ingredient_wrapper {
    margin:auto
}
.ingredient_data_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.ingredient_title {
    text-align: center;
}
.ingredient_pic {
    width: 520px;
}
.nutritional_values {
    display: flex;
    flex-direction: row;
    width: 520px;
    gap: 20px;
    justify-content: space-between;
}
.nutritional_value_title {
    font-size: 16px;
    line-height: 24px;
}
.nutritional_value_numb {
    font-size: 28px;
    line-height: 24px;
}
.nutritional_value {
    display: flex;
    flex-direction: column;
    align-items: center;

}
